body {
  background-color: #090d23;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
}

td {
  width: 10px;
  height: 10px;
  background-color: white;
  margin: 5px;
}

#start_node {
  background-color: #edffa3;
}

#end_node {
  background-color: #ffddbf;
}

.obstacle {
  background-color: cornflowerblue;
}

.path {
  background-color: #ff35a6;
}

canvas {
  display: block;
  margin: 20px auto;
}

#three-container {
  height: 500px;
}

#grid {
  margin: 0 auto;
  border-collapse: collapse;
}

.info {
  margin-top: 10px;
  font-size: 0.9rem;
  opacity: 0.8;
}
